table {
        border-collapse: collapse;
        margin: 10px;
}
td {
        padding: 0;
        margin: 0;
        text-align: center;
}
td.room {
        width: 70px;
        height: 70px;
        border: 1px #aaaaaa solid;
}
td.hcorr {
        width: 70px;
        height: 20px;
}
td.vcorr {
        width: 20px;
        height: 70px;
}
td.move:hover {
        background-color: #99cccc;
}
