html {
	text-align: center;
	font-size: 2vw;
}
h1.title {
	font-size: 300%;
}
table {
        border-collapse: collapse;
        margin: 0 auto;
}
td {
        padding: 0;
        margin: 0;
        text-align: center;
}
td.room {
        width: 70px;
        height: 70px;
        border: 2px #aaaaaa solid;
	font-size: x-large;
}
td.hcorr {
        width: 70px;
        height: 30px;
}
td.vcorr {
        width: 30px;
        height: 70px;
}
td.move:hover {
        background-color: #ccffff;
}
td.player {
        background-color: #99cccc;
}
td.com {
        background-color: #cc99cc;
}
button {
	font-size: 100%;
}
span.eval {
	font-size: 200%;
}
