html {
	text-align: center;
	font-size: 2vw;
	font-family: 'Orbitron', sans-serif;
	background-color: #447744;
	color: #dddddd;
}
h1.title {
	font-size: 500%;
	margin-bottom: 10px;
}
table {
        border-collapse: collapse;
        margin: 0 auto;
}
td {
        padding: 0;
        margin: 0;
        text-align: center;
}
td.room {
        width: 70px;
        height: 70px;
        border: 2px #aaaaaa solid;
	font-size: x-large;
}
td.hcorr {
        width: 70px;
        height: 30px;
}
td.vcorr {
        width: 30px;
        height: 70px;
}
td.move:hover {
        background-color: #88bbbb;
}
td.player {
        background-color: #77aaaa;
}
td.com {
        background-color: #aa77aa;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
span.eval {
	font-size: 200%;
}
img {
	height: 40px;
	margin: 0;
	padding: 0;
}
