table {
        border-collapse: collapse;
        margin: 10px;
}
td {
        padding: 0;
        margin: 0;
        text-align: center;
}
td.room {
        width: 100px;
        height: 100px;
        border: 2px #aaaaaa solid;
	font-size: x-large;
}
td.hcorr {
        width: 100px;
        height: 40px;
}
td.vcorr {
        width: 40px;
        height: 100px;
}
td.move:hover {
        background-color: #ccffff;
}
td.player {
        background-color: #99cccc;
}
td.com {
        background-color: #cc99cc;
}
